.firstPage {
  background-image: url("../img/firstpage.png");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;

  .tourist-box {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    .touristSpot {
      overflow: hidden;
      height: 50vh;
      max-width: 800px;

      .carousel {
        display: flex;
        transition: ease-out 500ms;

        .carousel__Img-box {
          img {
            height: 600px;
            width: 800px;
          }
        }
      }
    }
    .control-btn {
      display: flex;
      position: absolute;
      bottom: 50%;

      .left-btn {
        margin-right: 55rem;
        cursor: pointer;

        padding: 0.7rem;
        border-radius: 45px;
        background-color: rgba(255, 255, 255, 0.5);
        transition: 0.3s;
        img {
          height: 40px;
          width: 40px;
        }
      }
      .left-btn:hover {
        background-color: #fff;
      }

      .right-btn {
        padding: 0.7rem;
        border-radius: 45px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        transition: 0.3s;
        img {
          height: 40px;
          width: 40px;
        }
      }
      .right-btn:hover {
        background-color: #fff;
      }
    }
    .touristText {
      overflow: hidden;
      height: 450px;
      max-width: 600px;
      .carousel-text {
        display: flex;
        transition: ease-out 500ms;
        .carousel__text-box {
          img {
            height: 450px;
            width: 600px;
          }
        }
      }
    }
  }
}
