.header {
  height: 100vh;
  width: 100%;
  background-image: url("../img/Qixingtan.png");
  background-size: cover;
  background-position: center;
  position: relative;

  .header__logo-box {
    display: flex;
    padding: 2rem 2rem;
    .header__logo {
      padding-top: 0.5rem;
      img {
        height: 50px;
        width: 50px;
      }
    }
    p {
      font-size: 3rem;
      font-family: "La Belle Aurore", cursive;
      color: white;
    }
  }

  .navigation {
    position: fixed;
    right: 3rem;
    top: 3rem;
    z-index: 99;

    .navi-icon-box {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;

      .navi-icon-1 {
        width: 35px;
        height: 4px;
        background-color: aqua;
      }
      .navi-icon-2 {
        width: 35px;
        height: 4px;
        background-color: aqua;
        transition: all 0.5s;
      }
      .navi-icon-3 {
        width: 35px;
        height: 4px;
        background-color: aqua;
        transition: all 0.5s;
      }
    }
  }
  .navigationOpen {
    position: fixed;
    right: 3rem;
    top: 3rem;
    z-index: 99;

    .navi-icon-box {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .navi-icon-2 {
        width: 35px;
        height: 4px;
        background-color: aqua;
        transform: rotateZ(45deg);
        transition: all 0.5s;
      }
      .navi-icon-3 {
        width: 35px;
        height: 4px;
        background-color: aqua;
        transform: translateY(-30px) rotateZ(135deg);
        transition: all 0.5s;
      }
    }
  }
  .navi-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 80;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      width: 80%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      list-style: none;
      li {
        font-size: 3rem;
        color: #5ff7e8;
        cursor: pointer;
        position: relative;
        a,
        a:link,
        a:visited {
          color: #5ff7e8;
          text-decoration: none;
        }
      }
      li::after {
        content: "";
        height: 3px;
        width: 0;
        background-color: #5ff7e8;
        position: absolute;
        left: 0;
        bottom: -3px;
        transition: 0.5s;
      }
      li:hover::after {
        width: 100%;
      }
    }
  }

  .header__text-box {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(60, 25, 213, 0.3);
    h1 {
      font-size: 7rem;
      font-family: "Roboto", sans-serif;
      color: white;
      margin-bottom: 1rem;
    }
    h1:hover {
      transform: skewY(2deg) skewX(15deg);
    }

    p {
      font-size: 3rem;
      font-family: "Noto Sans TC", sans-serif;
      color: white;
      margin-bottom: 3rem;
    }
    button {
      padding: 0.5rem 5rem;
      border-radius: 15px;
      border: 3px solid white;
      color: white;
      background-color: transparent;
      cursor: pointer;
      font-size: 2rem;
      transition: 0.5s;
    }
    button:hover {
      letter-spacing: 0.5em;
      color: rgb(19, 246, 239);
      border: 3px solid rgb(19, 246, 239);
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 35px rgb(19, 246, 239);
    }
  }

  .bg-name {
    font-size: 5rem;
    position: absolute;
    bottom: 1rem;
    margin-left: 1rem;
    color: white;
    font-family: "La Belle Aurore", cursive;
    text-shadow: 0 0 45px black;
  }
}
