* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 100vh;
  width: 100%;
  background-image: url("../img/Qixingtan.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.header .header__logo-box {
  display: flex;
  padding: 2rem 2rem;
}
.header .header__logo-box .header__logo {
  padding-top: 0.5rem;
}
.header .header__logo-box .header__logo img {
  height: 50px;
  width: 50px;
}
.header .header__logo-box p {
  font-size: 3rem;
  font-family: "La Belle Aurore", cursive;
  color: white;
}
.header .navigation {
  position: fixed;
  right: 3rem;
  top: 3rem;
  z-index: 99;
}
.header .navigation .navi-icon-box {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.header .navigation .navi-icon-box .navi-icon-1 {
  width: 35px;
  height: 4px;
  background-color: aqua;
}
.header .navigation .navi-icon-box .navi-icon-2 {
  width: 35px;
  height: 4px;
  background-color: aqua;
  transition: all 0.5s;
}
.header .navigation .navi-icon-box .navi-icon-3 {
  width: 35px;
  height: 4px;
  background-color: aqua;
  transition: all 0.5s;
}
.header .navigationOpen {
  position: fixed;
  right: 3rem;
  top: 3rem;
  z-index: 99;
}
.header .navigationOpen .navi-icon-box {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.header .navigationOpen .navi-icon-box .navi-icon-2 {
  width: 35px;
  height: 4px;
  background-color: aqua;
  transform: rotateZ(45deg);
  transition: all 0.5s;
}
.header .navigationOpen .navi-icon-box .navi-icon-3 {
  width: 35px;
  height: 4px;
  background-color: aqua;
  transform: translateY(-30px) rotateZ(135deg);
  transition: all 0.5s;
}
.header .navi-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 80;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navi-content ul {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
.header .navi-content ul li {
  font-size: 3rem;
  color: #5ff7e8;
  cursor: pointer;
  position: relative;
}
.header .navi-content ul li a,
.header .navi-content ul li a:link,
.header .navi-content ul li a:visited {
  color: #5ff7e8;
  text-decoration: none;
}
.header .navi-content ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: #5ff7e8;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s;
}
.header .navi-content ul li:hover::after {
  width: 100%;
}
.header .header__text-box {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(60, 25, 213, 0.3);
}
.header .header__text-box h1 {
  font-size: 7rem;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-bottom: 1rem;
}
.header .header__text-box h1:hover {
  transform: skewY(2deg) skewX(15deg);
}
.header .header__text-box p {
  font-size: 3rem;
  font-family: "Noto Sans TC", sans-serif;
  color: white;
  margin-bottom: 3rem;
}
.header .header__text-box button {
  padding: 0.5rem 5rem;
  border-radius: 15px;
  border: 3px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.5s;
}
.header .header__text-box button:hover {
  letter-spacing: 0.5em;
  color: rgb(19, 246, 239);
  border: 3px solid rgb(19, 246, 239);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 35px rgb(19, 246, 239);
}
.header .bg-name {
  font-size: 5rem;
  position: absolute;
  bottom: 1rem;
  margin-left: 1rem;
  color: white;
  font-family: "La Belle Aurore", cursive;
  text-shadow: 0 0 45px black;
}

.firstPage {
  background-image: url("../img/firstpage.png");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.firstPage .firstPage-filter {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.firstPage .tourist-box {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.firstPage .tourist-box .touristSpot {
  overflow: hidden;
  height: 50vh;
  max-width: 800px;
}
.firstPage .tourist-box .touristSpot .carousel {
  display: flex;
  transition: ease-out 500ms;
}
.firstPage .tourist-box .touristSpot .carousel .carousel__Img-box img {
  height: 600px;
  width: 800px;
}
.firstPage .tourist-box .control-btn {
  display: flex;
  position: absolute;
  bottom: 50%;
}
.firstPage .tourist-box .control-btn .left-btn {
  margin-right: 55rem;
  padding: 0.7rem;
  border-radius: 45px;
  background-color: rgba(255, 255, 255, 0.5);
}
.firstPage .tourist-box .control-btn .left-btn img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.firstPage .tourist-box .control-btn .right-btn {
  padding: 0.7rem;
  border-radius: 45px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
.firstPage .tourist-box .control-btn .right-btn img {
  height: 40px;
  width: 40px;
}
.firstPage .tourist-box .touristText {
  overflow: hidden;
  height: 450px;
  max-width: 600px;
}
.firstPage .tourist-box .touristText .carousel-text {
  display: flex;
  transition: ease-out 500ms;
}
.firstPage .tourist-box .touristText .carousel-text .carousel__text-box img {
  height: 450px;
  width: 600px;
}

.secondPage {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/secondpageImg.png");
  background-position: center;
  background-size: contain;
}
.secondPage .secondBg {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  min-height: 100vh;
}
.secondPage .secondBg h1 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transform: translateY(1rem);
}
.secondPage .secondBg .schedule-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.secondPage .secondBg .schedule-box .schedule_card {
  height: 800px;
  width: 600px;
  background-color: transparent;
  margin: 50px;
  position: relative;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-1 {
  background-color: white;
  height: 800px;
  width: 600px;
  transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  opacity: 0.9;
  overflow: hidden;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-1 .front-1-bg {
  width: 600px;
  height: 300px;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-1 .front-1-bg img {
  max-width: 100%;
  opacity: 0.8;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-1 .front-1-text {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #197a5a;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-1 .front-1-text ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  justify-content: space-between;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-1 .front-1-text ul h2 {
  font-size: 3rem;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-1 .front-1-text ul li {
  border-bottom: 2px solid #197a5a;
  width: 200px;
  text-align: center;
  padding-bottom: 3px;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-2 {
  background-color: white;
  height: 800px;
  width: 600px;
  transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  opacity: 0.9;
  overflow: hidden;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-2 .front-2-bg {
  width: 600px;
  height: 300px;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-2 .front-2-bg img {
  max-width: 100%;
  opacity: 0.8;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-2 .front-2-text {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #5643fa;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-2 .front-2-text ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  justify-content: space-between;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-2 .front-2-text ul h2 {
  font-size: 3rem;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-2 .front-2-text ul li {
  border-bottom: 2px solid #5643fa;
  width: 200px;
  text-align: center;
  padding-bottom: 3px;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-3 {
  background-color: white;
  height: 800px;
  width: 600px;
  transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  opacity: 0.9;
  overflow: hidden;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-3 .front-3-bg {
  width: 600px;
  height: 300px;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-3 .front-3-bg img {
  max-width: 100%;
  opacity: 0.8;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-3 .front-3-text {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #ff7730;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-3 .front-3-text ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  justify-content: space-between;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-3 .front-3-text ul h2 {
  font-size: 3rem;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--front-3 .front-3-text ul li {
  border-bottom: 2px solid #ff7730;
  width: 200px;
  text-align: center;
  padding-bottom: 3px;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-1 {
  height: 800px;
  width: 600px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  border-radius: 50px;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-1 p {
  color: white;
  font-size: 6rem;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-1 button {
  padding: 1rem 5rem;
  font-size: 2rem;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-1 button a,
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-1 button a:link,
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-1 button a:visited {
  color: #28b485;
  text-decoration: none;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-1 button:hover {
  transform: translateY(-10px);
  box-shadow: 0.1em 0.1em 0.3em black;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-2 {
  height: 800px;
  width: 600px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  border-radius: 50px;
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-2 p {
  color: white;
  font-size: 6rem;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-2 button {
  padding: 1rem 5rem;
  font-size: 2rem;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-2 button a,
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-2 button a:link,
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-2 button a:visited {
  color: #5643fa;
  text-decoration: none;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-2 button:hover {
  transform: translateY(-10px);
  box-shadow: 0.1em 0.1em 0.3em black;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-3 {
  height: 800px;
  width: 600px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  border-radius: 50px;
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-3 p {
  color: white;
  font-size: 6rem;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-3 button {
  padding: 1rem 5rem;
  font-size: 2rem;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-3 button a,
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-3 button a:link,
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-3 button a:visited {
  color: #ff7730;
  text-decoration: none;
}
.secondPage .secondBg .schedule-box .schedule_card .schedule_card--back-3 button:hover {
  transform: translateY(-10px);
  box-shadow: 0.1em 0.1em 0.3em black;
}
.secondPage .secondBg .schedule-box .schedule_card:hover .schedule_card--front-1 {
  transform: rotateY(180deg);
}
.secondPage .secondBg .schedule-box .schedule_card:hover .schedule_card--front-2 {
  transform: rotateY(180deg);
}
.secondPage .secondBg .schedule-box .schedule_card:hover .schedule_card--front-3 {
  transform: rotateY(180deg);
}
.secondPage .secondBg .schedule-box .schedule_card:hover .schedule_card--back-1 {
  transform: rotateY(0deg);
}
.secondPage .secondBg .schedule-box .schedule_card:hover .schedule_card--back-2 {
  transform: rotateY(0deg);
}
.secondPage .secondBg .schedule-box .schedule_card:hover .schedule_card--back-3 {
  transform: rotateY(0deg);
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.thirdPage {
  min-height: 100vh;
  width: 100%;
  background-image: url("../img/thirdpage.png");
  background-position: center;
  background-size: cover;
}
.thirdPage .thirdPage-bg {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.thirdPage .thirdPage-bg h1 {
  font-size: 3rem;
  color: white;
  font-weight: 200;
}
.thirdPage .thirdPage-bg .message--card {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  height: 400px;
  width: 800px;
  border-radius: 0 120px 0 120px;
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.thirdPage .thirdPage-bg .message--card .message--card-left {
  height: 200px;
  width: 200px;
  border-radius: 250px;
  overflow: hidden;
  margin: 0 2rem;
  position: relative;
  cursor: pointer;
}
.thirdPage .thirdPage-bg .message--card .message--card-left img {
  height: 230px;
  width: 230px;
  transition: all 0.5s;
}
.thirdPage .thirdPage-bg .message--card .message--card-left p {
  font-size: 3rem;
  transition: all 0.5s;
  color: white;
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 150px 0;
}
.thirdPage .thirdPage-bg .message--card .message--card-left:hover img {
  transform: scale(1.5);
}
.thirdPage .thirdPage-bg .message--card .message--card-left:hover p {
  position: absolute;
  top: -70px;
}
.thirdPage .thirdPage-bg .message--card .message--card-right {
  width: 400px;
  text-align: left;
}
.thirdPage .thirdPage-bg .message--card .message--card-right h2 {
  font-size: 2rem;
}
.thirdPage .thirdPage-bg .message--card .message--card-right p {
  margin-top: 2rem;
}
.thirdPage .thirdPage-bg .message--card .message--card-right .message-email {
  width: 400px;
  text-align: right;
}

.fourthPage {
  background-image: url("../img/fourthpage.png");
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourthPage .booking-box {
  height: 900px;
  width: 1200px;
  margin: 1rem;
  position: relative;
}
.fourthPage .booking-box .booking-left .Img-box {
  height: 300px;
  width: 750px;
  position: relative;
  overflow: hidden;
}
.fourthPage .booking-box .booking-left .Img-box img {
  width: 750px;
}
.fourthPage .booking-box .booking-left .Img-box .imgFilter-1 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  position: absolute;
  height: 300px;
  width: 750px;
  top: 0;
  opacity: 0.3;
}
.fourthPage .booking-box .booking-left .Img-box .imgFilter-2 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  position: absolute;
  height: 300px;
  width: 750px;
  top: 0;
  opacity: 0.3;
}
.fourthPage .booking-box .booking-left .Img-box .imgFilter-3 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  position: absolute;
  height: 300px;
  width: 750px;
  top: 0;
  opacity: 0.3;
}
.fourthPage .booking-box .booking-left .Img-box .easyText {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  background-color: rgba(40, 180, 133, 0.8039215686);
  color: white;
  padding: 1rem;
}
.fourthPage .booking-box .booking-left .Img-box .mediumText {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  background-color: rgba(85, 67, 250, 0.768627451);
  color: white;
  padding: 1rem;
}
.fourthPage .booking-box .booking-left .Img-box .hardText {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  background-color: rgba(255, 120, 48, 0.6901960784);
  color: white;
  padding: 1rem;
}
.fourthPage .booking-box .booking-right {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(75deg, transparent 50%, rgb(11, 38, 45) 50%);
  height: 900px;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
}
.fourthPage .booking-box .booking-right .booking-right-left {
  width: 500px;
  height: 900px;
}
.fourthPage .booking-box .booking-right .booking-right-input {
  width: 500px;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.fourthPage .booking-box .booking-right .booking-right-input input {
  outline: none;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border: none;
  width: 300px;
}
.fourthPage .booking-box .booking-right .booking-right-input select {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.fourthPage .booking-box .booking-right .booking-right-input button {
  font-size: 2rem;
  padding: 1rem 5rem;
  border-radius: 35px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}
.fourthPage .booking-box .booking-right .booking-right-input button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

footer {
  height: 30vh;
  background-color: rgba(19, 165, 165, 0.728);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-head {
  display: flex;
  width: 800px;
  justify-content: center;
}
footer .footer-head .footer-logo img {
  width: 40px;
  height: 40px;
}
footer .footer-head h2 {
  font-size: 2rem;
  color: black;
  font-family: "La Belle Aurore", cursive;
}
footer .footer-nav ul {
  width: 800px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  font-size: 2rem;
}
footer .footer-nav ul li {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: all 0.5s;
}
footer .footer-nav ul li:hover {
  transform: scale(1.3);
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}
footer .footer-img {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
}
footer .footer-img img {
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  cursor: pointer;
}
footer .footer-img img:hover {
  transform: translateY(-5px);
}/*# sourceMappingURL=style.css.map */