* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
}

@import "./homepage";

@import "./firstPage";
@import "./secondPage";
@import "./thirdPage";
@import "./fourthPage";
